node_modules/
.node_modules
.DS_Store
.idea/workspace.xml
.python-version
.vscode/chrome
.python-version
*.log
*.map
auto_deploy.sh
auto_deploy.txt
build/
config/properties.env
ecosystem.config.js
just_deploy.sh
newrelic_agent.log

package-lock.json
public/
setup.sh
tmp/
yarn.lock
node_modules
*.pem